
/* ********loader ************* */
#loader{
    width: 100vw;
    height: 100vh;
    background-color: var(--page-color);
    position: absolute;
    top: 0%;
    z-index: 999;
}

/* **************Container***************** */
#container{
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
    position: fixed;
}
#img-container{
    width: 100%;
    height: 100%;
    position: relative;
    position: fixed;
}
#img-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: fixed;
}
#inner-card-page{
    width: 100vw;
    height: 130vh;
    /* background-color: rebeccapurple; */
    position: sticky;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ************** new nav************************ */
#inner-card-page>nav{
    width: 100%;
    height: 20%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    z-index: 1;
    position: absolute;
    top: 5%;
}
#left-card{
    width: 20%;
    height: 100%;
    /* background-color: greenyellow; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#left-card>#circle-img{
    width: 26%;
    position: absolute;
    left: 17%;
    z-index: 1;
}
#left-card>#circle-img-2{
    width: 30%;
    rotate: 10deg;
    transition: all .4s ease;
    cursor: pointer;
}
#inner-card-page>nav>#center h3{
    width: 60%;
    font-family: b;
    font-weight: 100;
    font-size: 1.2vw;
}
#inner-card-page>nav>#right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5vw;
    text-transform: capitalize;
    position: relative;
}
#inner-card-page>nav>#right>#svgwork{
    width: 24%;
    height: 100%;
    /* background-color: red; */
    position:absolute;
    top: 0%;
    left: 0%;
    /* z-index: 999; */
    /* background-color: transparent; */
}
#zick-zack{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    animation: move; 
    border-radius: 50%;
    border: .2vw solid transparent;
    transition: all .4s ease;   
} 
 #zick-zack:hover{
    border: .2vw solid var(--text-color);
    animation-name: move;
    animation-duration: .3s;
    animation-timing-function: linear;
    cursor: pointer;
}

#right>#svgabout{
    width: 24%;
    height: 100%;
    /* background-color: red; */
    position:absolute;
    top: 0%;
    left: 26%;
    transition: all .4s ease;
}
#right>#svgabout:hover{
    border-bottom: .2vw dotted var(--text-color);
    cursor: pointer;
}
#right>#svgmain{
    width: 25%;
    height: 100%;
    background-color: transparent;
    position:absolute;
    top: 10%;
    left: 54%;
}
#circle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: .2vw solid transparent;
    transition: all .4s ease;
}
#right>#svgmain:hover #circle{
    border: .2vw solid var(--text-color);

}


@keyframes move {
    0%{
        width: 0;
        border-color: transparent;
    }
    100%{
        width: 100%;
        border-color: var(--text-color);
    }
}


#right>h2:hover{

}
#right>h2>a{
    text-decoration: none;
    color: var(--text-color);
    font-family: b;
    font-size: 1.1vw;
    /* border-bottom: .1vw solid var(--text-color); */
}





/* *********************************************** */
#wrapper-card{
    width: 90%;
    height: 65%;
    background-color: var(--page-color);
    /* background-color: darkgreen; */
    margin-top: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#left-wrap{
    width: 60%;
    height: 100%;
    /* background-color: peru; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* border-right: .1vw solid var(--bg-color); */
}
#left-wrap>h1{
    font-family: c;
    font-size: 6vw;
    padding: 0 3vw;
    line-height: 1;
    margin-bottom: 3vw;
    font-weight: 900;
    color: var(--bg-color);
}
.divider{
    width: .2%;
    height: 85%;
    margin: 2vw 0;
    background-color: var(--bg-color);
}
#right-wrap{
    width: 40%;
    height: 100%;
    /* background-color: palevioletred; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 4vw;
}
#right-wrap>img{
    margin-left: 20vw;
    margin-top: 3vw;
}
#right-wrap>form{
    margin-top: 9vw;
    /* background-color: red; */
    width: 100%;
}
#right-wrap>form>label{
    font-size: 1.2vw;
    text-align: left;
    /* background-color: green; */
    width: 100%;
    /* height: 100%; */
}
#right-wrap>form>input{
    width: 100%;
    height: 3%;
    outline: none;
    color: var(--bg-color);
}
#right-wrap>form>#email{
    width: 70%;
    margin-right: 9vw;
}
#email-label{
    margin-top: 1vw;
}
form>button{
    width: 100%;
    height: 15%;
    border-radius:.4vw;
    outline: none;
    border: none;
    font-size: 1.2vw;
    text-transform: capitalize;
    margin-top: 2vw;
    transition: all .4s ease;
    cursor: pointer;
}
form>button:hover{
    border-radius: 50px;
    background-color: transparent;
    border: .1vw solid var(--bg-color);
    color: var(--bg-color);
}

/* ********** footer **************** */
#message-card-link{
    width: 100%;
    position: relative;
    cursor: pointer;
}
#message-card-link>#links-msg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}
#links-msg>#left-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#links-msg>#left-msg>.msg-card{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    padding: 0 1vw;
}
#links-msg>#left-msg>.darkgreen{
    background-color: var(--page-color);
}
#links-msg>#left-msg>#royalblue{
    background-color: var(--page4-color);
}
#links-msg>#left-msg>.pink{
    background-color: var(--page3-color);
}
#links-msg>#left-msg>p{
    font-size: 1.3vw;
    font-family: b;
    color: var(--bg-color);
}

/* select theme button */
