@font-face {
    font-family: a;
    src: url(./11hAGpPTxVPUbgZzM2ys.ttf);
}
@font-face {
    font-family: b;
    src: url(./63c5c56bd1929c80c3c6c115_TWKLausanne-250.ttf);
}
@font-face {
    font-family: c;
    src: url(./648492bdaa6428f19190ae00_EditorialNew-Variable.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

:root{
    --bg-color:#ffffff;
    --text-color:#000000;
    --gray-text-color:#a0a0a0;
    --page-color:#1d3e39;
    --page3-color:#bd5a7e;

}
#main{
position: relative;
}
/* ************ page1***************** */
#page1{
    width: 100vw;
    height: 100vh;
    /* position: relative; */
    background-color: peru;
    position: sticky;
    top: 10%;
    /* z-index: 99; */
}
nav{
    width: 100%;
    height: 20%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    z-index: 999;
    position: absolute;
    top: 0;
}
#left{
    width: 20%;
    height: 100%;
    /* background-color: greenyellow; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#left>#circle-img{
    width: 26%;
    position: absolute;
    left: 17%;
    z-index: 1;
}
#circle-img-2{
    width: 30%;
    rotate: 10deg;
}
#center h3{
    width: 60%;
    font-family: b;
    font-weight: 100;
    font-size: 1.2vw;
}
#right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5vw;
    text-transform: capitalize;
}
#right>h2>a{
    text-decoration: none;
    color: var(--text-color);
    font-family: b;
    font-size: 1.1vw;
    border-bottom: .1vw solid var(--text-color);
}
#inner-ryt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5vw;
    font-family: b;
    font-size: 1vw;
    text-transform: uppercase;
}
#inner-ryt>h1:nth-child(1){
    font-weight: 100;
    color: var(--gray-text-color);
}
#h4-2{
    border-bottom: .1vw solid var(--text-color);
    font-weight: 900;
}
#first-h4{
    color: var(--gray-text-color);
}
#hero{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inner-text{
    width: 66%;
    height: 60%;
    background-color: red;
    margin-top: 9vw;
    
}
#inner-text>h2{
    font-family: c;
    font-size: 5.5vw;
    line-height: 1.1;
}
#inner-text>h2>span{
    font-family: a;
    font-size: 2vw;
}
#inner-text>h2>#xo{
    font-family: c;
    font-size: 5.5vw;
    position: relative;
}
#text-linetrow{
    width: 15%;
    height: 15%;
    /* background-color: yellow; */
    position: relative;
    bottom: 20%;
}
#text-linetrow>img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    margin-top: 1vw;


}
/* ************ Page2**************** */
#page2{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: rebeccapurple;
}
#inner-page2{
    width:70%;
    height: 80%;
    background-color: var(--page-color);
    padding: 2vw;
    display:flex ;
    gap: 1vw;
}
#image-container{
    width: 60%;
    height: 100%;
    /* background-color: #000000; */
    border-radius: 50% 50% 0 0;
    position: relative;
}
#image-container>img{
    width: 100%;
    height: 100%;
    object-position: 0%;
    /* object-fit: cover; */
}
#text-container{
    width: 40%;
    height: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 17vw;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
label{
    font-size: 4vw;
    font-family: b;
    text-transform: capitalize;
    color: var(--bg-color);
}
input{
    background-color: transparent;
    width: 100%;
    padding: .5vw 0;
    margin-bottom: 1vw;
    border: none;
    border-bottom: .2vw solid var(--bg-color);
}
::placeholder {
  color: var(--bg-color);
  font-family: a;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3vw;
}
#text-container>img{
    width: 50%;
    margin-left: 8vw;
}

/* ************ Page3************** */
#page3{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: palegreen; 
    display: flex;
    align-items: center;
    justify-content: center; 
}
#inner-page3{
    width:70%;
    height: 80%;
    background-color: var(--page3-color);
    padding: 2vw;
    display:flex ;
    gap: 1vw;
}
#image-container-p3{
    width: 60%;
    height: 100%;
    /* background-color: #000000; */
    border-radius: 50% 50% 0 0;
    position: relative;
}
#image-container-p3>img{
    width: 100%;
    height: 100%;
    object-position: 0%;
    /* object-fit: cover; */
}
#text-container-p3{
    width: 40%;
    height: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 17vw;
}
#text-container-p3>form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
label{
    font-size: 4vw;
    font-family: b;
    text-transform: capitalize;
    color: var(--bg-color);
}
input{
    background-color: transparent;
    width: 100%;
    padding: .5vw 0;
    margin-bottom: 1vw;
    border: none;
    border-bottom: .2vw solid var(--bg-color);
}
::placeholder {
  color: var(--bg-color);
  font-family: a;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3vw;
}
#text-container-p3>img{
    width: 50%;
    margin-left: 8vw;
}


/* ************ Page4************** */
#page4{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: palevioletred;  
}


/* ************ Page5************** */
#page5{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: yellow;  
}