@font-face {
    font-family: a;
    src: url(./11hAGpPTxVPUbgZzM2ys.ttf);
}
@font-face {
    font-family: b;
    src: url(./63c5c56bd1929c80c3c6c115_TWKLausanne-250.ttf);
}
@font-face {
    font-family: c;
    src: url(./648492bdaa6428f19190ae00_EditorialNew-Variable.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

:root{
    --bg-color:#ffffff;
    --text-color:#000000;
    --gray-text-color:#a0a0a0;
    --page-color:#1d3e39;
    --page3-color:#bd5a7e;
    --page4-color:#374fa2;

}
#main{
position: relative;
}
/* ************ page1***************** */
#page1{
    width: 100vw;
    height: 100vh;
    /* position: relative; */
    position: sticky;
    top: 10%;
    /* z-index: 99; */
}
nav{
    width: 100%;
    height: 20%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    z-index: 999;
    position: absolute;
    top: 0;
}
#left{
    width: 20%;
    height: 100%;
    /* background-color: greenyellow; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#left>#circle-img{
    width: 26%;
    position: absolute;
    left: 17%;
    z-index: 1;
}
#circle-img-2{
    width: 30%;
    rotate: 10deg;
    transition: all .4s ease;
    cursor: pointer;
}
#center h3{
    width: 60%;
    font-family: b;
    font-weight: 100;
    font-size: 1.2vw;
}
#right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5vw;
    text-transform: capitalize;
}
#right>h2>a{
    text-decoration: none;
    color: var(--text-color);
    font-family: b;
    font-size: 1.1vw;
    border-bottom: .1vw solid var(--text-color);
}
#inner-ryt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5vw;
    font-family: b;
    font-size: 1vw;
    text-transform: uppercase;
}
#inner-ryt>h1:nth-child(1){
    font-weight: 100;
    color: var(--gray-text-color);
}
#h4-2{
    border-bottom: .1vw solid var(--text-color);
    font-weight: 900;
}
#first-h4{
    color: var(--gray-text-color);
}
#hero{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inner-text{
    width: 65%;
    height: 60%;
    /* background-color: red; */
    display: flex;
    align-items: flex-star;
    justify-content: center;
    flex-direction: column;
}
#inner-text>img{
    width: 8%;
    height: 10vh;
    position: absolute;
    left: 70%;
    top: 22%;
    rotate: 10deg;
}
#inner-text>h2{
    font-family: d;
    font-size: 5vw;
    line-height: 2vw;
    margin-top: 3vw;
    padding-bottom: 1vw;
    font-weight: 500;
    border-bottom: .2vw solid var(--text-color);
}
#inner-text>h2>span{
    font-family: a;
    font-size: 2vw;
}
#inner-text>h2>#xo{
    font-family: c;
    font-size: 5.5vw;
    position: relative;
    font-weight: 700;
}
#text-linetrow{
    width: 15%;
    height: 15%;
    /* background-color: yellow; */
    position: relative;
    bottom: 18%;
}
#text-linetrow>img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    margin-top: 1vw;


}
/* ************ Page2**************** */
#page2{
    width: 100v
    w;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    /* background-color: rebeccapurple; */
    rotate: .2deg;
}
#inner-page2{
    width:70%;
    height: 80%;
    background-color: var(--page-color);
    padding: 2vw;
    display:flex ;
    gap: 1vw;
}
#inner-page2:hover #page2{
    rotate: 0deg;
    cursor: pointer;
}
#image-container{
    width: 60%;
    height: 100%;
    /* background-color: #000000; */
    border-radius: 50% 50% 0 0;
    position: relative;
}
#image-container>img{
    width: 100%;
    height: 100%;
    object-position: 0%;
    /* object-fit: cover; */
}
#text-container{
    width: 40%;
    height: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 17vw;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
label{
    font-size: 4vw;
    font-family: b;
    text-transform: capitalize;
    color: var(--bg-color);
}
input{
    background-color: transparent;
    width: 100%;
    padding: .5vw 0;
    margin-bottom: 1vw;
    border: none;
    border-bottom: .2vw solid var(--bg-color);
}
::placeholder {
  color: var(--bg-color);
  font-family: a;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3vw;
}
#text-container>img{
    width: 50%;
    margin-left: 8vw;
}

/* ************ Page3************** */
#page3{
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background-color: palegreen;  */
    display: flex;
    align-items: center;
    justify-content: center; 
    rotate: -.1deg;
}
#inner-page3{
    width:70%;
    height: 80%;
    background-color: var(--page3-color);
    padding: 2vw;
    display:flex ;
    gap: 1vw;
    rotate: 2deg;
}
#image-container-p3{
    width: 60%;
    height: 100%;
    /* background-color: #000000; */
    border-radius: 50% 50% 0 0;
    position: relative;
}
#image-container-p3>img{
    width: 100%;
    height: 100%;
    object-position: 0%;
    /* object-fit: cover; */
}
#text-container-p3{
    width: 40%;
    height: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 17vw;
}
#text-container-p3>form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
label{
    font-size: 4vw;
    font-family: b;
    text-transform: capitalize;
    color: var(--bg-color);
}
input{
    background-color: transparent;
    width: 100%;
    padding: .5vw 0;
    margin-bottom: 1vw;
    border: none;
    border-bottom: .2vw solid var(--bg-color);
}
::placeholder {
  color: var(--bg-color);
  font-family: a;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3vw;
}
#text-container-p3>img{
    width: 50%;
    margin-left: 8vw;
}
/* ************ Page4************** */
#page4{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--bg-color);  
    display: flex;
    align-items: center;
    justify-content: center; 
    /* rotate: 1deg; */
    z-index: 1;
}
#inner-page4{
    width:70%;
    height: 80%;
    background-color: var(--page4-color);
    padding: 2vw;
    display:flex ;
    gap: 1vw;
    transform: rotate(-1deg);
    z-index: 1;
    
}
#image-container-p4{
    width: 60%;
    height: 100%;
    /* background-color: #000000; */
    border-radius: 50% 50% 0 0;
    position: relative;
}
#image-container-p4>img{
    width: 100%;
    height: 100%;
    object-position: 0%;
    /* object-fit: cover; */
}
#text-container-p4{
    width: 40%;
    height: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 17vw;
}
#text-container-p4>form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
label{
    font-size: 4vw;
    font-family: b;
    text-transform: capitalize;
    color: var(--bg-color);
}
input{
    background-color: transparent;
    width: 100%;
    padding: .5vw 0;
    margin-bottom: 1vw;
    border: none;
    border-bottom: .2vw solid var(--bg-color);
}
::placeholder {
  color: var(--bg-color);
  font-family: a;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3vw;
}
#text-container-p4>img{
    width: 50%;
    margin-left: 8vw;
}

/* ************ Page5************** */
#page5{
    width: 100vw;
    height: 180vh;
    position: relative;
    background-color: var(--bg-color); 
     
}
#inner-page5{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    padding-top: 10vw;
    position: relative;
}
#inner-page5>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}
#inner-text-p5{
    width: 65%;
    height: 25%;
    /* background-color: rebeccapurple; */
    z-index: 1;
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
}
#inner-text-p5>h1{
    font-size: 5vw;
    font-family: d;
    font-weight: 500;
    color: var(--bg-color);
    /* background-color: greenyellow; */
}
#inner-text-p5>.line{
    width: 100%;
    height: 0.3vh;
    background-color: var(--bg-color);
    opacity: 0;
}
#inner-text-p5>img{
    position: absolute;
    left: 85%;
    top: 15%;
}
#inner-text-p5>p{
    margin-top: 2vw;
    font-size: 1.3vw;
    font-family:b;
    background-color: var(--bg-color);
    padding: 1.1vw 1.2vw;
    border-radius: 1vw;
    transition: all .3s ease;
}
#inner-text-p5>p:hover{
    border-radius:50px;
    background-color: transparent;
    border: .1vw solid var(--bg-color);
    color: var(--bg-color);
}
#center-p5{
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 1;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: #374fa2; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}
#center-p5>#left-p5{
    width: 25%;
    height: 80%;
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 2vw;
}
#left-p5>img{
    width: 70%;
    height: 60%;
    rotate: -8deg;
    margin-top: 5vw;
}
#txt-p5{
    width: 30%;
    height: 30%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#txt-p5>h1{
    text-align: center;
    font-size: 3vw;
    font-family: c;
    color: var(--bg-color);
    line-height: 1;
    padding-bottom: 1vw;
}
#txt-p5>p{
    width: fit-content;
    /* background-color: rebeccapurple; */
    font-size: 1.2vw;
    font-family: b;
    font-weight: 500;
    color: var(--bg-color);
    transition: all .2s ease;
}
#txt-p5>img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
#txt-p5>p:hover{
    transform: translate3d(0px, -4.333px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;

}
#txt-p5>p>span>i{
    font-size: 1.4vw;
    padding-left: 1vw;
    color: var(--bg-color);
}
#txt-p5>#icon{
    background-color: red;
}
#txt-p5>#icon:hover{
    transform: rotateX('180deg');
    position: absolute;
}
#txt-p5:hover #txt-p5>i{
    rotate: 360deg;
    /* transform: translate3d(0px, -0.89876px, 0px) scale3d(1, 1, 1) rotateX(360deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); */
     /* transform-style: preserve-3d; will-change: transform; */
}
#txt-p5>img:hover{
    will-change: transform; transform: translate3d(0.3342px, -0.265px, 1.2322px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(9deg) skew(0deg, 0deg); 
    transform-style: preserve-3d;
}
#center-p5>#right-p5{
    width: 25%;
    height: 80%;
    /* background-color: blue; */
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    margin-top:25vw;
}
#right-p5>img{
    width: 70%;
    height: 60%;
    rotate: 8deg;
    margin-bottom: 4vw;
}
#txt-p5>p:hover{
    animation-name: jump;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    /* transform: translate3d(0px, 0px, 0px)scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)skew(0deg, 0deg);
    transform-style: preserve-3d; */
}

/* @keyframes jump {
    0%{
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;
        /* transform: translate3d(0px, 0px, 0px)scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)skew(0deg, 0deg);  */
        /* will-change: transform; transform: translate3d(0px, 11.3683px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(9deg) skew(0deg, 0deg); transform-style: preserve-3d; 

    } 
    25%{
        /* transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; */
        /* transform: translate3d(0px, 0px, 0px)scale3d(1.1, 1.1, 1.1) rotateX(0deg) rotateY(0deg) rotateZ(20deg)skew(0deg, 0deg); */
        /* will-change: transform; transform: translate3d(0px, 11.3683px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(9deg) skew(0deg, 0deg); transform-style: preserve-3d; 
    }
    50%{
        /* transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; */
        /* will-change: transform; transform: translate3d(13.7690px, 1.30443px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(9deg) skew(0deg, 0deg); transform-style: preserve-3d; 
    }
    75%{
        /* will-change: transform; transform: translate3d(13.7690px, 1.30443px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(9deg) skew(0deg, 0deg); transform-style: preserve-3d;

    }
    100%{ 

    } 
} */
/* style="transform: translate3d(0px, -0.0944px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;" */

/* will-change: transform; transform: translate3d(0px, 11.3683px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(9deg) skew(0deg, 0deg); transform-style: preserve-3d; */


/* <img src="https://uploads-ssl.webflow.com/63977865f8050772f52d67d4/6467ad61dc2e2592c3532c25_underline-white.svg" loading="lazy" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" height="" data-w-id="0894b10a-b36c-3451-9409-3641448c7c6a" alt=""> */
/* style="  " */
/* ********* page6***************** */
#page6{
    width: 100vw;
    height: 100vh;
    background-color: palevioletred;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inner-p6{
    width: 90%;
    height: 100%;
    background-color: var(--bg-color);
    margin-bottom: 3vw;
    rotate: -1deg; 
    display: flex;
    align-items: center;
    justify-content: center; 
}
#inner-text-p6{
    width: 70%;
    height: 80%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    rotate: 0deg;
    position: relative;
}
#inner-text-p6>h1{
    font-size: 4vw;
    font-family: d;
    text-transform: capitalize;
    font-weight:900;
}
#inner-text-p6>a{
    text-decoration: none;
    color: var(--bg-color);
    font-size: 1.2vw;
    font-family: b;
    background-color: var(--text-color);
    padding: 1vw 2vw;
    border-radius: 1vw;
    text-transform: capitalize;
    margin-top: 3vw;
    transition: all .3s ease;
}
#inner-text-p6>a:hover{
    border-radius: 50px;
}
#inner-text-p6>img{
    position: absolute;
    top: 28%;
    left: 48%;
    width: 20%;
    rotate: 12deg;
}